<section>
    <section>
        <h4 class="font-weight-bold" [textContent]="'Certificates ('+data.length+')'"></h4>
    </section>

    <section class="container">
        <section class="row justify-content-center">
            <section class="card border-0 p-0 col-xl-5 col-lg-12 col-md-10 col-sm-12 m-3 d-inline-block certifcate"
                *ngFor="let certificate of data">
                <section class="">
                    <img class="card-img-top certificate-frame"
                        [src]="'assets/certificates/'+certificate.certificate" />
                </section>
                <section class="card-body p-4">
                    <span class="card-title font-weight-bold d-block" [textContent]="certificate.title"></span>
                    <section>
                        <span class="card-text font-weight-bold" [textContent]="'Issued by: '"></span>
                        <span class="card-text" [textContent]="certificate.organization"></span>
                    </section>
                    <section>
                        <span class="card-text font-weight-bold" [textContent]="'Issued On: '"></span>
                        <span class="card-text" [textContent]="certificate.issued_on | datetime : 'LLLL dd, yyyy'"></span>
                    </section>
                    <section *ngIf="certificate.link" class="mt-3 d-flex justify-content-center">
                        <a [href]="certificate.link.url" target="_blank" class="btn btn-primary">
                            <span [textContent]="certificate.link.title"></span>
                        </a>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
