<section>
    <section *ngIf="isInitiated" class="container-fluid">
        <section class="row">
            <section class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <section>
                    <basic-info [data]="basicInfo"></basic-info>
                </section>
                <section>
                    <contact-info class="d-block mt-2" [data]="contactInfo"></contact-info>
                </section>
            </section>
            <section class="col-sm-12 col-md-6 col-lg-8 col-xl-9">
            </section>
        </section>
    </section>
</section>