<section>
    <section class="mt-2 mb-2">
        <section class="text-center font-weight-bold">
            <span [textContent]="'Badges Aquired ('+data.length+')'"></span>
        </section>
    </section>
    <section class="container">
        <section class="row justify-content-center">
            <section class="border-0 card col-sm-12 col-md-12 col-lg-5 col-xl-5 p-2 m-2 d-inline-block badge-box "
                *ngFor="let badge of data">
                <section class="align-items-center d-flex justify-content-center">
                    <img class="badge-image" [src]="'assets/bagdes/'+badge.badge" />
                </section>
                <section class="card-body">
                    <span class="card-title font-weight-bold d-block" [textContent]="badge.title"></span>
                    <span class="card-text d-block" [textContent]="badge.organization"></span>
                    <section *ngIf="badge.link" class="mt-3 d-flex justify-content-center">
                        <a [href]="badge.link.url" target="_blank" class="btn btn-primary">
                            <span [textContent]="badge.link.title"></span>
                        </a>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>